In [4]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

In [5]:
# Import the API key.
from config import g_key

In [6]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Nabire,ID,2020-12-20 15:36:34,-3.37,135.48,75.97,91,100,4.74
1,1,East London,ZA,2020-12-20 15:33:25,-33.02,27.91,75.20,83,75,11.41
2,2,Busselton,AU,2020-12-20 15:33:31,-33.65,115.33,57.00,78,0,1.01
3,3,Esperance,AU,2020-12-20 15:36:34,-33.87,121.90,57.20,76,1,4.70
4,4,Mataura,NZ,2020-12-20 15:36:35,-46.19,168.86,46.00,92,100,1.01

In [7]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [8]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [9]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Nabire,ID,2020-12-20 15:36:34,-3.37,135.48,75.97,91,100,4.74
1,1,East London,ZA,2020-12-20 15:33:25,-33.02,27.91,75.20,83,75,11.41
6,6,Cedeno,CO,2020-12-20 15:36:35,7.05,-72.16,83.77,45,74,5.14
8,8,Maunabo,PR,2020-12-20 15:36:35,18.01,-65.90,82.00,100,7,5.01
9,9,Butaritari,KI,2020-12-20 15:36:35,3.07,172.79,80.58,84,56,18.39
13,13,Tshela,CD,2020-12-20 15:36:36,-4.98,12.93,78.37,90,91,2.68
15,15,Vaini,TO,2020-12-20 15:36:36,-21.20,-175.20,78.48,86,0,16.91
21,21,Hermanus,ZA,2020-12-20 15:36:37,-34.42,19.23,79.00,60,1,8.01
22,22,Saint-Philippe,RE,2020-12-20 15:36:37,-21.36,55.77,79.00,78,43,18.34
25,25,Puerto Ayora,EC,2020-12-20 15:36:37,-0.74,-90.35,75.20,78,90,11.41

In [14]:
preferred_cities_df.count()

City_ID       183
City          183
Country       182
Date          183
Lat           183
Lng           183
Max Temp      183
Humidity      183
Cloudiness    183
Wind Speed    183
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng Hotel Name
0           Nabire      ID     75.97  -3.37  135.48
1      East London      ZA     75.20 -33.02   27.91
6           Cedeno      CO     83.77   7.05  -72.16
8          Maunabo      PR     82.00  18.01  -65.90
9       Butaritari      KI     80.58   3.07  172.79
13          Tshela      CD     78.37  -4.98   12.93
15           Vaini      TO     78.48 -21.20 -175.20
21        Hermanus      ZA     79.00 -34.42   19.23
22  Saint-Philippe      RE     79.00 -21.36   55.77
25    Puerto Ayora      EC     75.20  -0.74  -90.35

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [17]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

In [23]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found ...skipping")

Hotel not found ...skipping
Hotel not found ...skipping
Hotel not found ...skipping
Hotel not found ...skipping
Hotel not found ...skipping
Hotel not found ...skipping
Hotel not found ...skipping
Hotel not found ...skipping
Hotel not found ...skipping
Hotel not found ...skipping

In [24]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Nabire,ID,75.97,-3.37,135.48,Hotel Nusantara Nabire
1,East London,ZA,75.20,-33.02,27.91,Tu Casa
6,Cedeno,CO,83.77,7.05,-72.16,BASE MILITAR DE GIBRALTAR
8,Maunabo,PR,82.00,18.01,-65.90,Maunacaribe
9,Butaritari,KI,80.58,3.07,172.79,Isles Sunset Lodge
...,...,...,...,...,...,...
546,Ewa Beach,US,75.20,21.32,-158.01,Hampton Inn & Suites Oahu/Kapolei
548,Port-Gentil,GA,86.00,-0.72,8.78,Fengshui Residence
551,Aguie,NE,87.76,13.51,7.78,
553,Puerto Lopez,CO,86.14,4.08,-72.96,Resguardo Indigena Maguare
556,Mindelo,CV,77.00,16.89,-24.98,Hotel Gaudi

In [25]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [29]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [30]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))